@import url('//fonts.googleapis.com/css?family=Noto+Sans');

/* font */
@media (max-width:399px) {
	html {
		font-size:16px;
	}
}

@media (min-width:400px) and (max-width:439px) {
	html {
		font-size:18px;
	}
}

@media (min-width:440px) and (max-width:479px) {
	html {
		font-size:19px;
	}
}

@media (min-width:480px) and (max-width:519px) {
	html {
		font-size:20px;
	}
}

@media (min-width:520px) and (max-width:559px) {
	html {
		font-size:21px;
	}
}

@media (min-width:560px) and (max-width:599px) {
	html {
		font-size:22px;
	}
}

@media (min-width:600px) and (max-width:639px) {
	html {
		font-size:23px;
	}
}

@media (min-width:640px) and (max-width:679px) {
	html {
		font-size:24px;
	}
}

@media (min-width:680px) and (max-width:719px) {
	html {
		font-size:25px;
	}
}

@media (min-width:720px) and (max-width:759px) {
	html {
		font-size:26px;
	}
}

@media (min-width:760px) and (max-width:799px) {
	html {
		font-size:27px;
	}
}

@media (min-width:800px) and (max-width:839px) {
	html {
		font-size:28px;
	}
}

@media (min-width:840px) and (max-width:879px) {
	html {
		font-size:29px;
	}
}

@media (min-width:880px) and (max-width:919px) {
	html {
		font-size:30px;
	}
}

@media (min-width:920px) and (max-width:959px) {
	html {
		font-size:31px;
	}
}

@media (min-width:960px) and (max-width:999px) {
	html {
		font-size:32px;
	}
}

@media (min-width:1000px) and (max-width:1039px) {
	html {
		font-size:33px;
	}
}

@media (min-width:1040px) and (max-width:1079px) {
	html {
		font-size:34px;
	}
}

@media (min-width:1080px) and (max-width:1119px) {
	html {
		font-size:35px;
	}
}

@media (min-width:1120px) and (max-width:1159px) {
	html {
		font-size:36px;
	}
}

@media (min-width:1160px) and (max-width:1199px) {
	html {
		font-size:37px;
	}
}

@media (min-width:1200px) and (max-width:1239px) {
	html {
		font-size:38px;
	}
}

@media (min-width:1240px) {
	html {
		font-size:39px;
	}
}
* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.03em;
}

/* common */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, form, fieldset, legend, input, textarea, button, select, img {
  margin: 0;
  padding: 0;
}
body, input, textarea, select, button, table {
  color: rgba(51, 51, 51, 1);
  letter-spacing: -0.3px;
  box-shadow: none;
  border: none;
}
button {
  background: none;
  border-radius: 2px;
}
select:focus, button:focus, textarea:focus {
  outline: 0;
}
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: middle;
  word-break: break-all;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img, fieldset {
  border: 0;
}
ul {
  list-style: none;
}
address, em {
  color: rgb(51, 51, 51);
  font-style: normal;
}
a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
hr, legend, caption {
  display: none;
}
a, input {
  outline: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input, select {
  vertical-align: middle;
	background: none;
	border-radius: 0px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color: rgba(51,51,51,0.3);
}
body{
  /* padding: 0 25px 80px 25px; */
	padding-bottom: 80px;
}
button:active, a:active{
  opacity: 0.5;
}

/* login */
header{
	overflow: hidden;
  margin: 30px 0px;
	padding: 0 25px;
}
.bt_back{
  width: 12px;
  height: 20px;
  background: #fff url(images/bt_back.png) no-repeat center/100%;
}
.tit_style1{
  margin-bottom: 40px;
	padding: 0 25px;
  font-size: 1.875em;
}
.input_wrap{
  margin-bottom: 60px;
	padding: 0 25px;
}
.input_box{
  margin-bottom: 30px;
}
.input_box:last-child{
  margin-bottom: 0px;
}
.input_box label{
  display: block;
  margin-bottom: 20px;
  font-size:1.125em;
}
.input_box input{
  font-size:1.375em;
}
.error{
	margin-bottom: 20px;
	padding: 0 25px;
	text-align: right;
	background: url(images/ico_emoji.png) no-repeat right 52% center/51px 58px;
}
.error div:nth-of-type(1){
	margin-bottom: 4px;
	font-size: 1.125em;
	font-weight: bold;
}
.error div:nth-of-type(2){
	color: rgba(51,51,51,0.5);
	font-size: 0.875em;
}
.bt_wrap_hor{
  overflow: hidden;
  display: flex;
	justify-content: flex-end;
	padding: 0 25px;
}
.bt_wrap_hor button{
  margin-left: 10px;
  padding: 8px 20px;
  font-size: 1em;
}
.bt_wrap_hor button:first-child{
  margin-left: 0px;
}
.bt_white{
  color: #597AC8;
}
.bt_blue{
  color: #fff;
  background: #597AC8;
}
.bt_wrap_ver_box{
  margin-top: 30px;
	padding: 0 25px;
  border-top: 1px solid rgba(193, 193, 193, 0.5);
}
.bt_wrap_ver_box .title{
  margin: 13px 0 18px 0;
  color: rgba(51, 51, 52, 0.3);
  font-size: 1em;
}
.bt_wrap_ver_box button{
  margin-bottom: 30px;
  padding-left: 50px;
  font-size: 1.125em;
  line-height: 36px;
}
.bt_wrap_ver_box button:last-child{
  margin-bottom: 0px;
}
.bt_wrap_ver_box .bt_facebook{
  background: #fff url(images/bt_facebook.png) no-repeat left center/36px 36px;
}
.bt_wrap_ver_box .bt_google{
  background: #fff url(images/bt_google.png) no-repeat left center/36px 36px;
}
.bt_gray{
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  padding: 16px 0;
  width: 100%;
  color: rgba(51, 51, 51, 0.4);
  font-size: 1em;
  background: rgb(234,234,234);
}
.bt_gray::before{
  content: "";
  width: 100%;
  background: #fff;
}
/* //login */

/* header */
header .bt_back{
  float: left;
	margin-top: 3%;
	margin-right: 16px;
}
header span{
  float: left;
	font-size: 1.875em;
}
header div{
	display: flex;
	float: right;
	margin-top: 2%;
}
header div a{
	width: 24px;
	height: 24px;
}
header div a:first-child{
	margin-right: 20px;
}
header div a img{
	width: 100%;
	height: 100%;
}
/* //header */

/* main */
.list_header{
	position: relative;
	display: flex;
	margin-bottom: 32px;
	padding: 0 25px;
	width: 100%;
	justify-content: space-between;
}
nav{
	display: flex;
}
nav input{
	display: none;
}
nav label{
	color: rgba(51,51,51,0.5);
	font-size: 1.125em;
}
nav label:last-child{
	margin-left: 22px;
}
nav input[type="radio"]:nth-child(1):checked~label:nth-of-type(1), nav input[type="radio"]:nth-child(2):checked~label:nth-of-type(2){
	color: rgb(51,51,51);
}
nav label span:last-child{
	margin-left: 1%;
}
.select input{
	display: none;
}
.select label{
	color: rgba(51,51,51,0.5);
	padding-right: 16px;
	background: url(images/ico_triangle.png) no-repeat right center/10px 8px;
}
.select input:checked~.list_view_type{
	display: inline-block;
}
.select .list_view_type{
	display: none;
	position: absolute;
	top:40px;
	right: 25px;
	z-index: 10;
	padding: 16px 20px;
	background: rgb(255,255,255);
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
}
.select .list_view_type button{
	display: block;
	color: rgba(51,51,51,0.5);
	font-size: 1.125em;
}
.select .list_view_type button:last-child{
	margin-top: 26px;
}
.list_view_box{
	padding: 0 25px;
}
.check_list_wrap{
	display: flex;
	justify-content: space-between;
}
.check_list2 input{
	display: none;
}
.check_list2 label.bookmark{
	padding-top: 3px;
	padding-left: 30px;
	width: 16px;
	height: 22px;
	font-size: 1.375em;
	background: url(images/bt_bookmark_off.png) no-repeat left center/16px 22px;
}
.check_list2 input[type="checkbox"]:checked~label{
	color: rgba(51,51,51,0.3);
	text-decoration: line-through rgba(51,51,51,0.3);
	background: url(images/bt_bookmark_on.png) no-repeat left center/16px 22px;
}
.bt_add{
	position: fixed;
	right: 22px;
	bottom: 22px;
	width: 62px;
	height: 62px;
	box-shadow: 0 2px 6px 0 rgba(0,0,0,0.20);
	border-radius: 50%;
	background: #597AC8 url(images/ico_plus.png) no-repeat center/32px 32px;
}
/* //main */

/* category */
.text_box{
	padding: 0 29px;
}
.text_box p:nth-of-type(1){
	margin-bottom: 70px;
	font-size: 1.3125em;
	line-height: 1.875em;
}
.text_box p:nth-of-type(2){
	color: rgba(51, 51, 51, 0.4);
	font-size: 1.25em;
	line-height: 1.75em;
}
.text_box p:nth-of-type(3){
	color: rgba(51, 51, 51, 0.4);
	font-size: 1em;
	line-height: 1.75em;
}
.box_wrap{
	padding: 0 25px;
}
.box{
	margin-bottom: 30px;
	padding: 30px 20px;
	background: #FFFFFF;
	box-shadow: 0 0 4px 0 rgba(0,0,0,0.20);
	border-radius: 2px;
}
.box:last-child{
	margin-bottom: 0px;
}
.box .title{
	margin-bottom: 24px;
	font-size: 1.5em;
	font-weight: bold;
}
.check_list{
	overflow: hidden;
	margin-bottom: 26px;
}
.check_list:last-child{
	margin-bottom: 0px;
}
.check_list input[type="checkbox"]{
	display: none;
}
.check_list label{
	padding-top: 3px;
	padding-left: 30px;
	font-size: 1.375em;
	background: url(images/bt_check_off.png) no-repeat left center/20px 20px;
}
.check_list input[type="checkbox"]:checked~label{
	color: rgba(51,51,51,0.3);
	text-decoration: line-through rgba(51,51,51,0.3);
	background: url(images/bt_check_on.png) no-repeat left center/20px 20px;
}
.bg_health{
	background: url(images/ico_health.png) no-repeat bottom 20px right 20px /76px 76px;
}
.bg_diet{
	background: url(images/ico_diet.png) no-repeat bottom 20px right 20px /76px 76px;
}
.bg_self_dev{
	background: url(images/ico_self_dev.png) no-repeat bottom 20px right 20px /76px 76px;
}
.bg_invest{
	background: url(images/ico_invest.png) no-repeat bottom 20px right 20px /76px 76px;
}
.bg_religion{
	background: url(images/ico_religion.png) no-repeat bottom 20px right 20px /76px 76px;
}
.bg_ect{
	background: url(images/ico_ect.png) no-repeat bottom 20px right 20px /76px 76px;
}
/* //category */

/* all_list */
textarea{
	padding: 0 25px;
	width: 100%;
	font-size: 1.375em;
}
.input_wrap2{
	display: flex;
	padding: 0 25px;
	justify-content: space-between;
}
.input_box2 label{
	display: inline-block;
	margin-bottom: 20px;
	font-size: 1.125em;
}
.input_box2 input{
	display: inline-block;
	padding-bottom: 6px;
	font-size: 1.375em;
	border-bottom: 1px solid rgba(51,51,51,0.3);
}
/* .input_wrap2 .input_box2:first-child{
	margin-right: 10px;
	padding-right: 30px;
	background: url(images/ico_arrow.png) no-repeat bottom 20px right /20px 15px;
} */
.ico_arrow{
	padding: 20px;
	background: url(images/ico_arrow.png) no-repeat center bottom 20px/20px 15px;
}
.input_wrap3{
	margin-top: 84px;
	padding: 0 25px;
}
.input_wrap3 .input_wrap2{
	padding: 0px;
}
.input_wrap3 .title{
	margin-bottom: 20px;
	font-size: 1.125em;
}
.input_wrap3 .input_box3 input{
	display: none;
}
.input_wrap3 .input_box3 label{
	display: block;
	margin-bottom: 10px;
	color: rgba(51,51,51,0.3);
	font-size: 1.375em;
}
.input_wrap3 .input_box3 input:nth-of-type(1):checked~label:nth-of-type(1), .input_wrap3 .input_box3 input:nth-of-type(2):checked~label:nth-of-type(2){
	color: rgb(51,51,51);
}
.bt_bottom{
	position: fixed;
	left: 0px;
	bottom: 0px;
	display: block;
	padding: 18px 0;
	width: 100%;
	font-size: 1.25em;
}
/* //all_list */

/* datail_habit */
.box_shadow{
	margin-bottom: 52px;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}
.progress_wrap{
	overflow: hidden;
	padding: 0 25px;
}
.progress_wrap .title_wrap{
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
}
.progress_wrap .title_wrap div:last-child{
	color: rgba(51,51,51,0.3);
}
.progress{
	display: inline-block;
	margin-bottom: 70px;
	width: 100%;
}
progress {
	position: relative;
  display: block;
  width: 100%;
  border: 0 none;
  background: rgba(51,51,51,0.1);
  border-radius: 50px;
}
/* webkit */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  progress {
    height: 14px;
  }
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
	padding-right: 150px;
  border-radius: 50px;
  background: #597AC8;
}
.progress .progress_value_wrap{
	position: relative;
	top: 0px;
}
.progress .progress_value_wrap .progress_value{
	position: absolute;
	padding: 80px 10px 10px 10px;
	top: -64px;
	right: -20px;
	background: url(images/ico_circle.png) no-repeat center/100%;
	color: #597AC8;
	font-size: 0.875em;
}
.history_wrap{
	overflow-x: scroll;
	padding: 0 25px;
	margin-bottom: 20px;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}
.history_wrap div{
	display: flex;
	width: 1282px;
	background: url(images/bg_line.png) repeat-x center/100% 2px;
	justify-content: space-between;
}
.history_wrap input{
	display: none;
}
.history_wrap label{
	display: inline-block;
	width: 42px;
	height: 42px;
	text-align: center;
	border-radius: 50%;
	background: #fff;
	border: 2px solid #597AC8;
	color: #597AC8;
	line-height: 38px;
}
.history_wrap label:last-child{
	margin-right: 0px;
}
.history_wrap input:nth-of-type(1):checked~label:nth-of-type(1),
.history_wrap input:nth-of-type(2):checked~label:nth-of-type(2),
.history_wrap input:nth-of-type(3):checked~label:nth-of-type(3),
.history_wrap input:nth-of-type(4):checked~label:nth-of-type(4),
.history_wrap input:nth-of-type(5):checked~label:nth-of-type(5),
.history_wrap input:nth-of-type(6):checked~label:nth-of-type(6),
.history_wrap input:nth-of-type(7):checked~label:nth-of-type(7),
.history_wrap input:nth-of-type(8):checked~label:nth-of-type(8),
.history_wrap input:nth-of-type(9):checked~label:nth-of-type(9),
.history_wrap input:nth-of-type(10):checked~label:nth-of-type(10),
.history_wrap input:nth-of-type(11):checked~label:nth-of-type(11),
.history_wrap input:nth-of-type(12):checked~label:nth-of-type(12),
.history_wrap input:nth-of-type(13):checked~label:nth-of-type(13),
.history_wrap input:nth-of-type(14):checked~label:nth-of-type(14),
.history_wrap input:nth-of-type(15):checked~label:nth-of-type(15),
.history_wrap input:nth-of-type(16):checked~label:nth-of-type(16),
.history_wrap input:nth-of-type(17):checked~label:nth-of-type(17),
.history_wrap input:nth-of-type(18):checked~label:nth-of-type(18),
.history_wrap input:nth-of-type(19):checked~label:nth-of-type(19),
.history_wrap input:nth-of-type(20):checked~label:nth-of-type(20),
.history_wrap input:nth-of-type(21):checked~label:nth-of-type(21){
	background: #597AC8;
	color: #fff;
}
.bt_wrap{
	display: flex;
	padding: 14px 25px;
	justify-content: space-around;
}
.bt_wrap button{
	font-size: 1.125em;
}
.bt_wrap .ico_bar{
	width: 2px;
	height: 26px;
	background: url(images/ico_bar.png) no-repeat center/2px 26px;
}
.bg_blue{
	margin-top: 20px;
	margin-bottom: -80px;
	padding: 25px;
	background: rgba(89,122,200,0.06)
}
.bg_blue .title_wrap{
	display: flex;
	margin-bottom: 20px;
	font-size: 1.125em;
	justify-content: space-between;
}
.bg_blue .title_wrap .bt_add_memo{
	width: 20px;
	height: 20px;
	background: url(images/bt_add_memo.png) no-repeat center/100%;
}
.bg_blue .box{
	margin-bottom: 20px;
	padding: 20px;
}
.bg_blue .box .title_wrap{
	font-size: 1em;
}
.bg_blue .box .title{
	margin-bottom: 0px;
	color: rgba(51,51,51,0.5);
	font-size: 1em;
	font-weight: normal;
}
.bg_blue .box .bt_delete{
	width: 16px;
	height: 16px;
	background: url(images/bt_delete.png) no-repeat center/100%;
}
.bg_blue .box .content{
	line-height: 1.75em;
}
/* //datail_habit */
